/* GLOBAL */
* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Garamond', serif;
    line-height: 1.7;
    letter-spacing: 1px;
}

body {
    margin: 0;
    background-color: #ffffff;
    color: #000000;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-weight: 600;
}

header {
    position: fixed;
    height: 60px;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 5px solid #000000;
    display: flex;
    flex-direction: row;
}

.header-logo {
    margin-left: 45px;
    line-height: 60px;
    width: fit-content;
    height: fit-content;
}

.header-logo img {
    width: 100%;
}

.header-title {
    font-size: 18px;
    margin-left: 6px;
    margin-top: 12px;
    font-weight: 600;
}

/* FRONTPAGE */
.frontpage-wrapper {
    max-width: 1200px;
    min-width: 920px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 80px;
}
.frontpage-detail {
    width: 80%;
    min-width: 320px;
    margin-top: -40px;
}
.frontpage-detail .title {
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 2px;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.frontpage-detail .description {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
    text-align: center;
}

.image-processing-box .upload-box {
    margin: 20px auto 0 auto;
}

.image-processing-box .upload-box form {
    display: flex;
    flex-direction: column;
}

.image-processing-box .upload-box .input-description {
    font-size: 18px;
}

.image-processing-box .upload-box input[type="file"] {
    width: fit-content;
    font-size: 16px;
    margin-bottom: 20px;
}

.image-processing-box .upload-box input[type="file"]::file-selector-button {
    cursor: pointer;
}

.image-processing-box .upload-box input[type="number"] {
    width: 50px;
    height: 24px;
    border: 1px solid #000000;
    border-radius: 2px;
    font-size: 16px;
}

.image-processing-box .upload-box input[type="submit"] {
    width: 150px;
    height: 45px;
    margin-top: 20px;
    border-radius: 30px;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: 2px solid #000000;
}

.image-processing-box .upload-box input[type="submit"]:hover {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s ease;
}

.image-box {
    display: flex;
    flex-direction: row;
}

.image-box .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.image-box .image-container .before-column {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.image-box .image-container img {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2px;
}

.image-box .image-compressed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.image-box .image-compressed-container .after-column {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.image-box .image-compressed-container img {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2px;
}

.output-container {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.output-container .output-state {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.output-container .output-state .pixel-difference, .compression-time {
    font-size: 18px;
}

.output-container .save-remove-image {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.save-button input[type="submit"], .remove-button input[type="submit"] {
    width: 150px;
    height: 45px;
    margin-top: 6px;
    margin-right: 0px;
    border-radius: 30px;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: 2px solid #000000;
}

.save-button input[type="submit"]:hover, .remove-button input[type="submit"]:hover {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s ease;
}