<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Image Compression by SARboz</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/frontpage.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
    </head>
    <body>
        <header>
            <a href="/" class="header-logo"><img src="{{ url_for('static', filename='images/logoSmall.png') }}"></a>
            <h3 class="header-title">Image Compression by SARboz</h3>
        </header>
        <div class="frontpage-wrapper">
            <div class="frontpage-detail">
                <h1 class="title">Image Compression by SARboz</h1>
                <p class="description">
                    Image Compression menggunakan algoritma SVD (Singular Value Decomposition) untuk mengkompresi gambar.
                </p>
            </div>
            <div class="image-processing-box">
                <span class="input-column">Masukkan File Image</span>
                <div class="upload-box">
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <input type="file" name="uploaded-image" accept="image/*">
                        <p>Rate Kompresi Gambar: <input type="number" name="compression-rate"> %</p>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="image-box">
                    <div class="image-container">
                        <span class="before-column">Sebelum</span>
                        {% if byteImage != None %}
                        <img src="{{ byteImage }}">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/imageNotAvailable.png') }}">
                        {% endif %}
                    </div>
                    <div class="image-compressed-container">
                        <span class="after-column">Sesudah</span>
                        {% if byteImageCompressed != None %}
                        <img src="{{ byteImageCompressed }}">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/imageNotAvailable.png') }}">
                        {% endif %}
                    </div>
                </div>
                <div class="output-container">
                    {% if byteImageCompressed != None %}
                    <span class="pixel-difference">Persentase perbedaan piksel kompresi gambar: <b>{{ pixelDifference }} %</b></span>
                    <span class="compression-time">Waktu eksekusi algoritma kompresi gambar: <b>{{ waktuEksekusi }} detik</b></span>
                    <button></button>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>